<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Roating and navigation
  </h1>
</div>
<nav>
  <a routerLink="/departments" routerLinkActive="active">Departments</a>
  <a routerLink="/employees" routerLinkActive="active">Employee</a>
</nav>

<router-outlet></router-outlet>
