/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
nav a{
    background-color: gray;
    margin: 5px;
    padding: 5px 10px;
    color: white;
    margin-bottom: none;
}

nav a.active{
    color: aqua;
}
body, html {
    font-family: 'Roboto';
}